<h2><%= @player.name %></h2>
<%= @player.position %>
<%= @player.height%>
<%= @player.weight%>

<form method="post" action="/players/<%= @player.id %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" />
</form>