<!DOCTYPE html>
<html>
<head>
<title><%= @player.name %></title>
<link rel="stylesheet" type="text/css" href = "<%= url('/logon.css') %>">
</head>
<body>
<h3><%= @player.name %></h3>
<p class = 'info'><%= @player.position %></p>
<p class = 'info'><%= @player.height %></p>
<p class = 'info'><%= @player.weight %><br></p>

<% if @player && @player.user == current_user %>
<a href = "/players/<%= @player.id %>/edit">Edit player info</a><br>
<form method="post" action="/players/<%= @player.id %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value = 'Delete' />
</form>
<% end %>
<a href ='/user_players/<%= current_user.username %>'>Show Your Players</a><br>
<a href ='/players'>Show All Players In System</a>
<a href = '/account'><h5>Home</h5></a>
</body>
<html>