<h4><%= @player.name %></h4>
<%= @player.position %><br>
<%= @player.height %><br>
<%= @player.weight %>

<form method="post" action="/players/<%= @player.id %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value = 'Delete' />
</form>